.name {
    font-weight: bold;
    font-size: 30px;
}

.logic {
    font-weight: 200;
}

.dropdown-icon {
    background-color: #288af3;
    font-size: 15px;
    color: white;
    border-radius: 14%;
    padding: 5px;
    margin-right: 5px;
}

.loading-button {
    width: 150px;
    font-weight: 500;
    border-radius: 5%;
    background-color: #288af3;
}

.custom-alert {
    position: fixed;
    bottom: 50px;
    right: 18px;
    background-color: rgb(83, 174, 83);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.alert-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 250px
}

.check-icon {
    padding: 7px;
    font-size: 22px;
}

.alert-message {
    font-size: 16px;
}

.success-message {
    margin-left: 30px;
}

.spacer {
    flex-grow: 1;
}

.close-button {
    background: none;
    color: rgb(251, 255, 251);
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 1px;
}

.close-button:hover {
    text-decoration: underline;
}

.user-icon {
    font-size: 30px;
    color: rgb(149, 145, 145);
}

.bell-icon {
    font-size: 26px;
    color: rgb(149, 145, 145);
}

.flag-icon {
    width: 30px;
    height: 30px;
}

.toolbar {
    display: flex;
    align-items: center;
}

.dropdowns {

    display: flex;
    align-items: center;
    margin-left: 35px;
}

.dropdown-link {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropIcon {
    padding: 9px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 20px;
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
}

.companyName {
    display: flex;
    align-items: center;
}

.cm-name {
    font-weight: bold;
    font-size: 20px;
}

.cm-logic {
    font-weight: 200;
}

.companyName .name {
    margin-right: 5px;
}

.companyName .logic {
    font-weight: bold;
}

.bottom-bar .copyright {
    color: rgb(162, 162, 158);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    flex-grow: 1;
}